<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="/js/search.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>

<nav class="red lighten-2" style="position:fixed; top:0px; margin:auto; z-index:100000; width:100%;" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/recipe" class="brand-logo white-text">Kitchuation</a>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="/recipe/logout">Logout</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<body style="margin-top: 65px">
  {{#if pantry}}
    <div class="row">
      <ul class="collection with-header col s6 section scrollspy>
        <li class="collection-header center"><h4>My Pantry</h4></li>
        <table class="highlight">
          <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {{#each pantry as |ingredient|}}
            <tr class="collection-item">
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.measure}} {{ingredient.unit}}</td>
                <td>
                  <a href="#remove" class="secondary-content"><i class="material-icons">clear</i></a>
                  <a href="#update" class="secondary-content"><i class="material-icons">edit</i></a>
                </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </ul>


      <!--add ingredients-->
      <div id="add" class="col s6 m6">
        <div class="modal-content">
          <ul class="collection with-header">
            <li class="collection-header center"><h4>Search to add more ingredients</h4></li>
          <ul>
          <form method="POST" action="/recipe/inventory">
          <div>
              <input type = "search" placeholder="Search for ingredients.." title = "Type an ingredient">
              <h6> Fridge: </h6>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Milk" checked/>
                <span class = "checkedOff">Milk</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Cream" checked/>
                <span class = "checkedOff">Cream</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Eggs" checked/>
                <span class = "checkedOff">Eggs</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Almond Milk" checked/>
                <span class = "checkedOff">Almond Milk</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Butter" checked/>
                <span class = "checkedOff">Butter</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Yogurt" checked/>
                <span class = "checkedOff">Yogurt</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Juice" checked/>
                <span class = "checkedOff">Juice</span>
              </label><br>

             <h5> Spices / Condiments: </h5>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Salt" checked/>
                <span class = "checkedOff">Salt</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Pepper" checked/>
                <span class = "checkedOff">Pepper</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Garlic Powder" checked red/>
                <span class = "checkedOff">Garlic powder</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Chili Powder" checked red/>
                <span class = "checkedOff">Chili powder</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Paprika" checked/>
                <span class = "checkedOff">Paprika</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Nutmeg" checked/>
                <span class = "checkedOff">Nutmeg</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Ketchup" checked/>
                <span class = "checkedOff">Ketchup</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Mustard" checked/>
                <span class = "checkedOff">Mustard</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Mayo" checked/>
                <span class = "checkedOff">Mayo</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Hot Sauce" checked/>
                <span class = "checkedOff">Hot sauce</span>
              </label><br>
              <h5> Pantry: </h5>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Rice" checked/>
                <span class = "checkedOff">Rice</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Pasta" checked/>
                <span class = "checkedOff">Pasta</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Beans" checked/>
                <span class = "checkedOff">Beans</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Lentils" checked/>
                <span class = "checkedOff">Lentils</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Chicken Broth" checked/>
                <span class = "checkedOff">Chicken broth</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Vegetable Broth" checked/>
                <span class = "checkedOff">Vegetable broth</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Beef Broth" checked/>
                <span class = "checkedOff">Beef broth</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Peanut Butter" checked/>
                <span class = "checkedOff">Peanut butter</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Oats" checked/>
                <span class = "checkedOff">Oats</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Cereal" checked/>
                <span class = "checkedOff">Cereal</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Olive Oil" checked/>
                <span class = "checkedOff">Olive oil</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Vinegar" checked/>
                <span class = "checkedOff">Vinegar</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Soy Sauce" checked/>
                <span class = "checkedOff">Soy sauce</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Honey" checked/>
                <span class = "checkedOff">Honey</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Maple Syrup" checked/>
                <span class = "checkedOff">Maple syrup</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Baking Powder" checked/>
                <span class = "checkedOff">Baking powder</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Brown Sugar" checked/>
                <span class = "checkedOff">Brown Sugar</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Granulated Sugar" checked/>
                <span class = "checkedOff">Granulated Sugar</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Nuts" checked/>
                <span class = "checkedOff">Nuts</span>
              </label><br>
              <label class = "ingredients-to-pick">
                <input type="checkbox" class="filled-in" name="ingredient" value="Jam" checked/>
                <span class = "checkedOff">Jam</span>
              </label><br>
            </div>
            <div>
              <button type="submit" class="btn modal-action modal-close waves-green">Save Pantry</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{else}}
    <h2> Your Pantry is Empty</h2>
    <a href="/recipe/pantry">
          SET UP YOUR PANTRY HERE!
    </a>
  {{/if}}

  {{#if pantry}}
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Ingredients</a> -->

  
  <!--
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Update Quantities</a> -->

  <div id="update" class="modal">
    <div class="modal-content">
      <form method="POST" action="/recipe/inventory/update">
      <p>How much do you have?</p>
      <div>
          <div class="input-field col s12" name="ingredient" value="Milk">
            <select>
              <option value="1 gallon" selected>1 gallon</option>
              <option value="1/2 gallon">1/2 gallon</option>
              <option value="1 quart">1 quart</option>
              <option value="1 pint">1 pint</option>
            </select>
            <label>Milk</label>
          </div>

          <div class="input-field col" name="ingredient" value="Cream">
            <select>
              <option value="1 pint" selected>1 pint</option>
              <option value="1 quart">1 quart</option>
              <option value="1 cups">1 cup</option>
              <option value="2 cups">2 cups</option>
              <option value="3 cups">3 cups</option>
              <option value="4 cups">4 cups</option>
            </select>
            <label>Cream</label>
          </div>

          <div class="input-field col" name="ingredient" value="Eggs">
            <select>
              <option value="12 eggs" selected>12 eggs</option>
              <option value="1 egg">1 egg</option>
              <option value="2 eggs">2 eggs</option>
              <option value="3 eggs">3 eggs</option>
              <option value="4 eggs">4 eggs</option>
              <option value="5 eggs">5 eggs</option>
              <option value="6 eggs">6 eggs</option>
              <option value="7 eggs">7 eggs</option>
              <option value="8 eggs">8 eggs</option>
              <option value="9 eggs">9 eggs</option>
              <option value="10 eggs">10 eggs</option>
              <option value="11 eggs">11 eggs</option>
            </select>
            <label>Eggs</label>
          </div>

          <div class="input-field col s12" name="ingredient" value="Almond Milk">
            <select>
              <option value="1 gallon" selected>1 gallon</option>
              <option value="1/2 gallon">1/2 gallon</option>
              <option value="1 quart">1 quart</option>
              <option value="1 pint">1 pint</option>
            </select>
            <label>Almond Milk</label>
          </div>

           <div class="input-field col" name="ingredient" value="Butter">
            <select>
              <option value="1 pint" selected>1 cup</option>
              <option value="1 quart">1/2 cup</option>
              <option value="1 cups">1/4 cup</option>
              <option value="2 cups">1/8 cup</option>
              <option value="3 cups">2 cups</option>
              <option value="4 cups">3 cups</option>
            </select>
            <label>Butter</label>
          </div>

           <div class="input-field col" name="ingredient" value="Yogurt">
            <select>
              <option value="1 pint" selected>1 pint</option>
              <option value="1 quart">1 quart</option>
              <option value="1 cups">1 cup</option>
              <option value="2 cups">2 cups</option>
              <option value="3 cups">3 cups</option>
              <option value="4 cups">4 cups</option>
            </select>
            <label>Yogurt</label>
          </div>

          <div class="input-field col s12" name="ingredient" value="Juice">
            <select>
              <option value="1 gallon" selected>1 gallon</option>
              <option value="1/2 gallon">1/2 gallon</option>
              <option value="1 quart">1 quart</option>
              <option value="1 pint">1 pint</option>
            </select>
            <label>Juice</label>
          </div>

        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div>
        <button type="submit" class="btn modal-action modal-close waves-green">Save Pantry</button>
      </div>
      <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
    </div>
  </div>

  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Throw out Ingredients</a> -->

  <div id="remove" class="modal">
    <div class="modal-content">
      <form method="POST" action="/recipe/inventory/delete">
        <div class = "fridge">
            <h5> Fridge: </h5>
            <input type = "search" id="ingredient-input" placeholder="Search for ingredients.." title = "Type an ingredient">
              {{#each  pantry}}
                <label class = "ingredients-to-pick">
                  <input type="checkbox" class="filled-in" name="ingredient" value="{{name}}"/>
                  <span>{{name}}</span>
                </label><br>
              {{/each}}
            </div>
            <div>
              <a href = "/recipe/inventory"class="btn modal-action modal-close waves-green">Back</a>
              <button type="submit" class="btn modal-action modal-close waves-green" id="remove">Remove</button>
            </div>
      </form>
    </div>
  </div>

 {{else}}
  <h2> Your Pantry is Empty</h2>
  <a href="/recipe/pantry">
        SET UP YOUR PANTRY HERE!
  </a>
{{/if}}

</body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

      <script>
          $(document).ready(function(){
              $(".modal").modal();
              $('select:not([multiple])').material_select();
              $('.scrollspy').scrollSpy();
          });
      </script>
