<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet">
<script src="/js/favorite.js"></script>


<style>
.content{
  position: absolute;
  margin: 0 auto;
  text-align: center;
}
  img{
    height: 400px;
  }
  input[type=image] {
    height: 50px;
    width: 50px;
  }
  .clicked{
    filter: hue-rotate(100deg);
  }
</style>
<nav class="red lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/recipe" class="brand-logo white-text">Kitchuation</a>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="/recipe/logout">Logout</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class = "content">
<h1 class = "teal-text"> {{recipe.name}} </h1>
<img src = {{recipe.imgURL}}> </img>
<br>
<br>
<!-- favorite icon  -->
<div class = "fav-form">
  <form method="POST" action="/recipe/details/{{recipe._id}}">
    <input type = "image" src = "/img/fav.png" name = "fav">
  </form>
</div>

<h3 class = "teal-text">Ingredients </h3>
  {{#each recipe.ingredients}}
    <li class = "grey lighten-2"> {{measure}} {{name}} </li>
  {{/each}}
  <h3 class = "teal-text">Directions </h3>
<p class = "grey lighten-2"> {{recipe.directions}} </p>
</div>
