<!doctype html>
<head>
<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../javascripts/recipeLogic.js" type="text/javascript"></script>
</head>
<body>

{{#if user}}
    <h2>Welcome back, {{user.username}}!</h2>
    <p> Make sure your pantry is up to date, and click on the button below to generate a personalized list of recipes. </p>
    <a href="/recipe/pantry">
            Click here to edit or view your pantry
        </a>
    <br>
    {{#if recipe}}
    <h2>Recipe found: {{recipe.name}}!</h2>
    <h3> Ingredients: </h3>
    <p>{{recipe.ingredients}}</p>
    <h3> Steps: </h3>
    <p>{{recipe.directions}} </p>
    {{/if}}
   

        <form action = "/recipe/home" method = "post">
        <input class="button" type="submit" name="Find a Recipe!" value="Find a Recipe!" />
         </form>


{{else}}
    <p>In order to find recipes, you need to have an account. Login or register below:</p>
    <p>
        <a href="register">
            Register
        </a>
        <br>
        <a href="login">
            Login
        </a>
    </p>
{{/if}}
</body>
</html>